* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none;
}


body {
    width: 100%;
    height: 100vh;
    background-color: #81757511;
    background-position: center;
    background-size: cover;
}

li {
    list-style: none;
}

a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

a:hover {
    color: rgb(6, 19, 53);
    transition: 0.3s all;
    border-bottom: 3px solid orangered;
}

header {
    position: relative;
    padding: 0 2rem;
    background: rgb(246, 235, 235);
    border-bottom: 1px solid black;


}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    color: rgb(2, 2, 87);
    font-weight: bold;
}

.action-btn {
    text-decoration: none;
}

.bouton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.connect {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bouton .action-btn:hover,
.action-btn-connect:hover {
    color: #fff;
    transition: 0.3s all;
    border-bottom: 3px solid orangered;
}

.bouton .action-btn,
.action-btn-connect {
    color: #fff;
    background-color: rgb(2, 2, 87);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 0.8 rem;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}


.action-btn-connect2 {
    color: rgb(6, 19, 53);
    transition: 0.3s all;
    background-color: #daca70;
    border-radius: 20px;
    font-size: 0.7rem;
    cursor: pointer;
    font-weight: bold;
    padding: 0.3rem 1rem;
}



.presents {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.maphoto {
    width: 60%;
}

.maphoto img {
    width: 70%;
}

.texte {
    margin-left: 90px;
}

.texte h2 {
    margin-bottom: 50px;
}



.texte .action-btn2 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 50px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #daca70;

}


.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #daca70;

}

.image img {
    width: 100px;
}

.boc-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spend {
    color: #daca70;
    font-size: 1.5em;
    font-weight: 700;
    margin: 20px 0 20px;
}

.boc-text p {
    font-size: 1.1em;
    color: #726a3b;
    line-height: 1.5em;
}

.block-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.footerr {
    background-color: rgb(2, 2, 62);
    color: #fff;
}

.footerr h3 {
    font-size: 20px;
    color: rgba(249, 238, 238, 0.574);
    font-weight: 800;
}

.telec,
.pc {
    font-size: 14px;
    font-weight: 600;
}

.copyrighth .icones i {
    font-size: 20px;
    color: rgba(249, 238, 238, 0.574);
    cursor: pointer;
}

.copyrighth p {
    font-style: italic;
    font-weight: 300;
    color: #fff;
}

.copyrighth .icones i:hover {
    color: rgb(198, 187, 187);

}

.copyrighth {
    background-color: rgb(2, 2, 62);
    border-top: 1px solid #fff;
    height: auto;
}

.addr,
.dan {
    color: #daca70;
    font-weight: 300;
}

.vegovego {
    background-color: rgb(2, 2, 62);
}

.ciroy {
    color: #daca70;
    font-weight: 300;

}

.logo a {
    text-decoration: none;
}